/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

/* Column Widths */
.mat-column-question {
  min-width: 30%;
  max-width: 40%;
}

.mat-column-stage,
.mat-column-source,
.mat-column-repetition,
.mat-column-createdDate,
.mat-column-modifiedDate {
  max-width: 7%;
}
