<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <span class="fa fa-archive"></span> StudyCard Editor</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
      </ul>
      <span class="navbar-text actions">
        <span>{{userName}}</span>
        <a class="btn btn-light action-button" role="button" routerLink="/login" *ngIf="!isLoggedin">Sign In</a>
        <a class="btn btn-light action-button" role="button" (click)="logout()" *ngIf="isLoggedin">Sign Out </a>
      </span>
    </div>
  </div>
</nav>
